$black : #000000;
$base: #000000;

$white: #ffffff;
$gray: #6A6A6A;
$silver: #F1F1F1;
$baseBg: #F9F9F9;

$hlgt : #CE7852;

$green: #45B25F;
$red : #C73535;
$orange: #D48A0B;


$font: 'Inter', sans-serif;

