@media print {
  * {
    color: #000000;
    @include box-shadow(none);
    @include text-shadow(none);
    -webkit-print-color-adjust: exact;
}
div + div:not(.printDoc_wrapper) {
    display: none;
}
  header, footer, #exclusive_subscription{
    display: none !important;
  }
  @page { 
    margin: 1cm;
    size: A4 portrait; 
  }
    body{
      margin: 0;
      padding: 0;
      font-family: arial, verdana;
      line-height: 1.3;
  }
  .printDoc_wrapper{
    display: block;
  }  
}
.printTable table{
  width: 100%;
  border-collapse: collapse;
}
.printTable table thead{
  width: 100%;
  /*border-bottom: 2px solid #000000;*/
}
.printTable table td,
.printTable table th
{
  /*border:1px solid #000;*/
}
